@use "../../var.scss" as var;
@use "sass:map";

.earn-links {
  background-color: rgba(180, 180, 180, 0.1);
  section {
    padding: 0 12px;
    ul {
      display: flex;
      padding: 0;
      gap: 20px;
      li {
        list-style: none;
        a {
          font-size: 16px;
          display: flex;
          align-items: center;
          height: 42px;
          padding: 4px 4px 0;
          color: var(--text-color-primary);
          border-bottom: 4px solid rgba(255, 255, 255, 0);
          &.active {
            border-bottom: 4px solid var.$color-secondary;
            color: var.$color-primary;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@media screen and (min-width: map.get(var.$screen, "lg")) {
  .earn-links {
    section {
      ul {
        justify-content: center;
      }
    }
  }
}
