@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

:root .light {
  --bg-color-primary: #fff;
  --bg-color-secondary: #fff;
  --bg-color-primary-transparent: rgba(243, 243, 243, 0.6);
  --text-color-primary: #280d5f;
  --text-color-secondary: #27262c;
  --dark-display: none;
  --light-display: block;
  --border-color: #e7e3eb;
  --sun-color: orange;
  --moon-color: #fff;
}
:root .dark {
  --bg-color-primary: #08060b;
  --bg-color-secondary: #27262c;
  --bg-color-primary-transparent: rgb(8, 6, 11, 0.6);
  --text-color-primary: rgb(244, 238, 255);
  --text-color-secondary: #b8add2;
  --dark-display: block;
  --light-display: none;
  --border-color: #08060b;
  --sun-color: #27262c;
  --moon-color: #7645d9;
}

body {
  background: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: Kanit, sans-serif;
  width: 100vw;
  max-width: 100%;
}

body > div {
  width: 100%;
}

section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  padding: 50px 0;
}

.btn, .btn-secondary, .btn-outline, .btn-primary, .btn-small {
  height: 48px;
  padding: 0 24px;
  border: 0;
  border-radius: 16px;
  background: none;
  cursor: pointer;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s linear;
  line-height: 1.1;
}
.btn:hover, .btn-secondary:hover, .btn-outline:hover, .btn-primary:hover, .btn-small:hover {
  opacity: 60%;
}
.btn-primary, .btn-small {
  color: white;
  background-color: #1fc7d4;
  box-shadow: 0 1px #12737b;
}
.btn-small {
  height: 32px;
  padding: 0 16px;
}
.btn-outline {
  color: #1fc7d4;
  border: 2px solid #1fc7d4;
}
.btn-secondary {
  padding: 0 10px;
  color: #1fc7d4;
}
.btn-secondary:hover {
  opacity: 100%;
  text-decoration-line: underline;
}

.toogler, .toogler-small, .toogler-big {
  position: relative;
  width: 58px;
  height: 32px;
  border-radius: 16px;
  background-color: rgba(102, 97, 113, 0.5);
  cursor: pointer;
  border: none;
}
.toogler:hover .toogler-circle, .toogler-small:hover .toogler-circle, .toogler-big:hover .toogler-circle {
  box-shadow: 0 0 0px 4px rgba(118, 69, 217, 0.5);
}
.toogler.active, .active.toogler-small, .active.toogler-big {
  background-color: rgb(49, 208, 170);
}
.toogler.active .toogler-circle, .active.toogler-small .toogler-circle, .active.toogler-big .toogler-circle {
  transform: translateX(26px);
}
.toogler .toogler-circle, .toogler-small .toogler-circle, .toogler-big .toogler-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-color-secondary);
  transition: transform 0.2s linear;
}
.toogler .label-svg, .toogler-small .label-svg, .toogler-big .label-svg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3px 6px;
}
.toogler .label-svg .sun, .toogler-small .label-svg .sun, .toogler-big .label-svg .sun {
  fill: var(--sun-color);
  transition: all 0.2s linear;
}
.toogler .label-svg .moon, .toogler-small .label-svg .moon, .toogler-big .label-svg .moon {
  fill: var(--moon-color);
  transition: all 0.2s linear;
}
.toogler-big.active {
  background-color: rgb(49, 208, 170);
}
.toogler-big.active .toogler-circle {
  transform: translateX(26px);
}
.toogler-small {
  height: 20px;
  border-radius: 10px;
  width: 36px;
}
.toogler-small .toogler-circle {
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
}
.toogler-small.active {
  background-color: rgb(49, 208, 170);
}
.toogler-small.active .toogler-circle {
  transform: translateX(16px);
}

.text, .text-secondary, .call-for-action .description p, .text-primary {
  font-size: 16px;
  font-family: Kanit, sans-serif;
  font-weight: 400;
}
.text-primary {
  color: #280d5f;
}
.text-secondary, .call-for-action .description p {
  color: #7a6eaa;
}

.title, .call-for-action .description h2, .title-tertiary, .title-secondary, .title-primary, .call-for-action .description h2 span {
  font-size: 40px;
  font-family: Kanit, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
.title-primary, .call-for-action .description h2 span {
  color: #7645d9;
}
.title-secondary {
  color: #1fc7d4;
}
.title-tertiary {
  color: #ed4b9e;
}

.fs-xs {
  font-size: 12px;
}
.fs-sm {
  font-size: 16px;
}
.fs-md {
  font-size: 20px;
}
.fs-lg {
  font-size: 32px;
}
.fs-xl {
  font-size: 40px;
}
.fs-xxl {
  font-size: 48px;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

@media screen and (min-width: 968px) {
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xxl {
    font-size: 64px;
  }
}
@keyframes img-1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(5px, 15px);
  }
}
@keyframes img-2 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(10px, 15px);
  }
}
@keyframes img-3 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(10px, 10px);
  }
}
@keyframes img-4 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(10px, 15px);
  }
}
.call-for-action {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.call-for-action .images {
  display: flex;
  position: relative;
  height: 200px;
}
.call-for-action .images .none {
  visibility: hidden;
  width: 100%;
}
.call-for-action .images .relative {
  position: absolute;
  height: 100%;
  width: 100%;
}
.call-for-action .images .relative img {
  right: 0;
  position: absolute;
  height: 100%;
}
.call-for-action .images .relative img.img-1 {
  animation: img-1 3s ease-in-out 1.2s infinite alternate;
}
.call-for-action .images .relative img.img-2 {
  animation: img-2 3s ease-in-out 0.8s infinite alternate;
}
.call-for-action .images .relative img.img-3 {
  animation: img-3 3s ease-in-out infinite alternate;
}
.call-for-action .images .relative img.img-4 {
  animation: img-4 3s ease-in-out 0.4s infinite alternate;
}
.call-for-action .description {
  flex: 1;
}
.call-for-action .description h2 {
  margin-bottom: 24px;
  font-size: 32px;
}
.call-for-action .description h2 span {
  font-size: 32px;
}
.call-for-action .description p {
  margin-bottom: 24px;
}
.call-for-action .description .buttons {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 852px) {
  .call-for-action {
    align-items: center;
    flex-direction: row;
    gap: 64px;
  }
  .call-for-action .images {
    flex: 1 1 0;
    height: auto;
  }
  .call-for-action .images .none {
    max-height: 512px;
    width: 100%;
    visibility: hidden;
  }
  .call-for-action .images .relative {
    height: 100%;
  }
  .call-for-action .description {
    order: -1;
  }
}
@media screen and (min-width: 968px) {
  .call-for-action .description h2 {
    font-size: 40px;
  }
  .call-for-action .description h2 span {
    font-size: 40px;
  }
}
@keyframes blink {
  3%, 100% {
    opacity: 0;
  }
  5%, 100% {
    opacity: 1;
  }
}
.footbar {
  z-index: 5;
  position: sticky;
  width: 100%;
  height: 0;
  top: calc(100% - 56px);
}
.footbar nav {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.footbar nav .nav-left {
  width: 100%;
}
.footbar nav .nav-left ul.footbar-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footbar nav .nav-left ul.footbar-buttons > li {
  height: 48px;
  width: 48px;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius img {
  height: 20px;
  width: 20px;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius p {
  font-size: 10px;
}
.footbar nav .nav-left ul.footbar-buttons > li .menu-sub {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 48px;
}

nav {
  z-index: 5;
  position: sticky;
  top: 0;
  height: 56px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  display: flex;
  background-color: var(--bg-color-secondary);
}
nav .logo {
  cursor: pointer;
}
nav .logo:hover .eye {
  animation: blink 4s;
}
nav .logo .mobile {
  width: 32px;
  margin: auto 0;
}
nav .logo .desktop {
  display: none;
  margin: auto 0;
}
nav .logo .desktop .logo-name {
  fill: var(--text-color-primary);
}
nav .nav-left {
  margin: auto 0;
}
nav .nav-left .left-nav {
  display: none;
  box-shadow: none;
}
nav .nav-left .child-flex {
  display: flex;
  justify-content: space-between;
}
nav .nav-left .container-first-child {
  display: flex;
  align-items: center;
}
nav .nav-left .radius {
  height: 48px;
  margin-top: 4px;
  padding: 12px 16px;
}
nav .nav-left .border {
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}
nav .nav-left .svg-color {
  text-align: center;
  fill: var(--text-color-primary);
}
nav .nav-left .menu-sub {
  position: absolute;
  background-color: var(--bg-color-secondary);
  border-radius: 24px;
  border: 1px solid var(--border-color);
  width: 80%;
  display: none;
  overflow: hidden;
}
nav .nav-left .menu-sub ul {
  display: block;
}
nav .nav-left .radius:hover {
  background-color: rgba(71, 69, 217, 0.1);
  border-radius: 15px;
}
nav .nav-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
}
nav .nav-left ul a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: #7a6eaa;
}
nav .nav-left li:hover .menu-sub {
  display: block;
  background-color: var(--bg-color-secondary);
}
nav .nav-left .menu-sub li {
  display: block;
}
nav .nav-left a:hover {
  background-color: rgba(71, 69, 217, 0.1);
}
nav .nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
nav .nav-right .btn {
  height: 24px;
  padding: 0;
  margin: 10px;
}
nav .nav-right .pancake-coin {
  display: none;
}
nav .nav-right .lang {
  position: relative;
}
nav .nav-right .lang .lang-list {
  background-color: var(--bg-color-secondary);
  display: none;
  position: absolute;
  right: -75px;
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
nav .nav-right .lang .lang-list .btn {
  font-weight: 600;
  margin: 5px 0;
}
nav .nav-right .lang:hover .lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .footbar {
    display: none;
  }
  nav .nav-left .left-nav {
    display: block;
  }
  nav .nav-left .menu-sub-second {
    display: none;
  }
}
@media screen and (min-width: 852px) {
  nav .nav-right .pancake-coin {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav .nav-right .pancake-coin img {
    transition: 0.2s linear;
  }
  nav .nav-right .pancake-coin:hover {
    opacity: 100;
  }
  nav .nav-right .pancake-coin:hover img {
    transform: scale(1.2);
  }
  nav .nav-right button::after {
    content: " Wallet";
  }
}
@media screen and (min-width: 968px) {
  nav .logo .mobile {
    display: none;
  }
  nav .logo .desktop {
    display: block;
  }
}
.earn-links {
  background-color: rgba(180, 180, 180, 0.1);
}
.earn-links section {
  padding: 0 12px;
}
.earn-links section ul {
  display: flex;
  padding: 0;
  gap: 20px;
}
.earn-links section ul li {
  list-style: none;
}
.earn-links section ul li a {
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 4px 4px 0;
  color: var(--text-color-primary);
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.earn-links section ul li a.active {
  border-bottom: 4px solid #1fc7d4;
  color: #7645d9;
  font-weight: 600;
}

@media screen and (min-width: 968px) {
  .earn-links section ul {
    justify-content: center;
  }
}
.title {
  background: linear-gradient(139.73deg, rgba(102, 190, 248, 0.25), rgba(195, 148, 253, 0.25));
}
.title section {
  padding: 32px 24px;
}
.title section .call-for-action {
  padding: 0;
}
.title section .call-for-action .description h2 span {
  font-size: 48px;
}
.title section .call-for-action .description p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-primary);
}

@media screen and (min-width: 968px) {
  .title section .call-for-action .description h2 span {
    font-size: 64px;
  }
}
.coins section {
  padding: 16px;
  max-width: 1200px;
}
.coins section .filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.coins section .filters .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.coins section .filters .filter .view {
  height: 100%;
  display: flex;
  align-items: center;
}
.coins section .filters .filter .view div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.coins section .filters .filter .view div svg {
  fill: rgba(151, 151, 151, 0.5);
}
.coins section .filters .filter .view div.active svg {
  fill: #1fc7d4;
}
.coins section .filters .filter .view div:hover {
  opacity: 60%;
}
.coins section .filters .filter .staked {
  display: flex;
  align-items: center;
  gap: 12px;
}
.coins section .filters .filter .continuous {
  display: flex;
  border-radius: 16px;
  height: 32px;
  background-color: rgba(123, 110, 150, 0.2);
}
.coins section .filters .filter .continuous div {
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  opacity: 50%;
  cursor: pointer;
}
.coins section .filters .filter .continuous div:hover {
  opacity: 30%;
}
.coins section .filters .filter .continuous div.active {
  opacity: 100%;
  border-radius: 16px;
  background-color: rgb(122, 110, 170);
  color: var(--bg-color-primary);
}
.coins section .filters .filter .continuous div.active:hover {
  opacity: 60%;
}
.coins section .filters .inputs {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;
  justify-content: space-between;
}
.coins section .filters .inputs div {
  display: flex;
  flex-direction: column;
}
.coins section .filters .inputs div.sort {
  flex: 0 0 136px;
}
.coins section .filters .inputs div.search {
  flex: 0 1 258px;
}
.coins section .filters .inputs div label {
  font-size: 12px;
  font-weight: 600;
}
.coins section .filters .inputs div input,
.coins section .filters .inputs div select,
.coins section .filters .inputs div input:focus {
  width: 100%;
  padding: 0 16px;
  border-radius: 16px;
  height: 40px;
  border: none;
  background-color: rgba(123, 110, 150, 0.2);
  color: var(--text-color-primary);
  outline: 0;
}
.coins section .calc-btn {
  cursor: pointer;
}
.coins section .calc-btn:hover {
  opacity: 60%;
}
.coins section .list-of-coins {
  padding: 0;
  border: 1px solid rgba(180, 180, 180, 0.2);
  border-bottom: 3px solid rgba(180, 180, 180, 0.2);
  background-color: rgba(180, 180, 180, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 24px;
  overflow: hidden;
}
.coins section .list-of-coins li {
  list-style: none;
}
.coins section .list-of-coins li .main {
  background: var(--bg-color-secondary);
  display: flex;
  gap: 16px;
  padding: 24px 12px;
  line-height: 1.1;
}
.coins section .list-of-coins li .main .coin {
  flex: 5 1 0%;
  display: flex;
  gap: 12px;
  align-items: center;
}
.coins section .list-of-coins li .main .coin .coin-logo-img {
  position: relative;
  height: 40px;
  width: 40px;
}
.coins section .list-of-coins li .main .coin .coin-logo-img .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 36.8px;
  border-radius: 50%;
  border: 1px solid #847d91;
}
.coins section .list-of-coins li .main .coin .coin-logo-img .alt-image {
  position: absolute;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #847d91;
  bottom: 0;
  right: 0;
}
.coins section .list-of-coins li .main .coin .name {
  flex: 1;
}
.coins section .list-of-coins li .main .coin .name h4 {
  font-size: 14px;
  font-weight: 400;
}
.coins section .list-of-coins li .main > div h6,
.coins section .list-of-coins li .main > div p {
  font-size: 12px;
  font-weight: 400;
  color: #7a6eaa;
}
.coins section .list-of-coins li .main > div h5 {
  font-size: 16px;
  font-weight: 400;
}
.coins section .list-of-coins li .main .staked,
.coins section .list-of-coins li .main .ends-in {
  display: none;
}
.coins section .list-of-coins li .main .earned {
  flex: 4.5 1 0%;
}
.coins section .list-of-coins li .main .apr {
  flex: 1 0 50px;
}
.coins section .list-of-coins li .main button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0%;
  padding: 0;
  transition: all 0.2s linear;
}
.coins section .list-of-coins li .main button:hover {
  text-decoration: none;
}
.coins section .list-of-coins li .main button img {
  height: 20px;
  transition: all 0.2s linear;
}
.coins section .list-of-coins li .main button.shown img {
  transform: rotate(180deg);
}
.coins section .list-of-coins li .details {
  display: none;
  background: var(--bg-color-primary-transparent);
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  line-height: 1.5;
  border-top: 2px solid rgba(180, 180, 180, 0.2);
  transition: all 0.2s linear;
}
.coins section .list-of-coins li .details .boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.coins section .list-of-coins li .details .boxes .earned,
.coins section .list-of-coins li .details .boxes .start {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid var(--border-color);
  border-radius: 16px;
}
.coins section .list-of-coins li .details .boxes .earned h5,
.coins section .list-of-coins li .details .boxes .start h5 {
  font-size: 12px;
}
.coins section .list-of-coins li .details .boxes .earned div,
.coins section .list-of-coins li .details .boxes .start div {
  display: flex;
  align-items: center;
}
.coins section .list-of-coins li .details .boxes .earned div p,
.coins section .list-of-coins li .details .boxes .start div p {
  font-size: 20px;
  font-weight: 600;
}
.coins section .list-of-coins li .details .boxes .earned div button,
.coins section .list-of-coins li .details .boxes .start div button {
  cursor: not-allowed;
  margin-left: auto;
  box-shadow: none;
  background-color: rgba(180, 180, 180, 0.2);
  opacity: 60%;
  color: var(--text-color-primary);
}
.coins section .list-of-coins li .details .start {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.coins section .list-of-coins li .details .total {
  font-size: 14px;
}
.coins section .list-of-coins li .details .total ul {
  padding: 0;
}
.coins section .list-of-coins li .details .total ul li {
  display: flex;
}
.coins section .list-of-coins li .details .total ul li .tablecontent {
  margin-left: auto;
}
.coins section .list-of-coins li .details .total ul a {
  color: #1fc7d4;
  margin-left: auto;
}
.coins section .list-of-coins li .details .total div {
  margin-top: 4px;
  display: flex;
}
.coins section .list-of-coins li .details .total div .manual {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #7645d9;
  height: 28px;
  display: flex;
  align-items: center;
  color: #7645d9;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .list-of-coins li .details .total div .manual svg {
  fill: #7645d9;
}
.coins section .list-of-coins li .details .total div .auto {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #31d0aa;
  height: 28px;
  display: flex;
  align-items: center;
  color: #31d0aa;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .list-of-coins li .details .total div .auto svg {
  fill: #31d0aa;
}
.coins section .cards-of-coins {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}
.coins section .cards-of-coins .coin-item {
  width: 100%;
  border: 1px solid rgba(180, 180, 180, 0.3);
  border-bottom: 3px solid rgba(180, 180, 180, 0.3);
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  background-color: var(--bg-color-secondary);
}
.coins section .cards-of-coins .coin-item .coin {
  display: flex;
  background: linear-gradient(180deg, rgba(81, 138, 177, 0.25), rgba(126, 96, 163, 0.25));
  padding: 24px;
  align-items: center;
}
.coins section .cards-of-coins .coin-item .coin .name h3 {
  font-size: 24px;
}
.coins section .cards-of-coins .coin-item .coin .name p {
  font-size: 14px;
  color: #7a6eaa;
}
.coins section .cards-of-coins .coin-item .coin .coin-logo-img {
  position: relative;
  height: 64px;
  width: 64px;
  margin-left: auto;
}
.coins section .cards-of-coins .coin-item .coin .coin-logo-img .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #847d91;
}
.coins section .cards-of-coins .coin-item .coin .coin-logo-img .alt-image {
  position: absolute;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #847d91;
  bottom: 0;
  right: 0;
}
.coins section .cards-of-coins .coin-item .start {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coins section .cards-of-coins .coin-item .start h5 {
  font-size: 12px;
  color: #7a6eaa;
}
.coins section .cards-of-coins .coin-item .start .apy {
  padding: 20px;
  border: 1px solid rgba(180, 180, 180, 0.3);
  background: var(--bg-color-primary-transparent);
  border-radius: 16px;
}
.coins section .cards-of-coins .coin-item .start .apy div {
  display: flex;
  align-items: center;
}
.coins section .cards-of-coins .coin-item .start .apy div p {
  margin-left: auto;
  font-weight: 600;
}
.coins section .cards-of-coins .coin-item .start .apr {
  display: flex;
  align-items: center;
}
.coins section .cards-of-coins .coin-item .start .apr h5 {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-primary);
}
.coins section .cards-of-coins .coin-item .start .apr p {
  margin-left: auto;
}
.coins section .cards-of-coins .coin-item .start .connect {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.coins section .cards-of-coins .coin-item .details {
  padding: 24px;
  border-top: 1px solid rgba(180, 180, 180, 0.3);
}
.coins section .cards-of-coins .coin-item .details .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coins section .cards-of-coins .coin-item .details .main div .manual {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #7645d9;
  height: 28px;
  display: flex;
  align-items: center;
  color: #7645d9;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .cards-of-coins .coin-item .details .main div .manual svg {
  fill: #7645d9;
}
.coins section .cards-of-coins .coin-item .details .main div .auto {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #31d0aa;
  height: 28px;
  display: flex;
  align-items: center;
  color: #31d0aa;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .cards-of-coins .coin-item .details .main div .auto svg {
  fill: #31d0aa;
}
.coins section .cards-of-coins .coin-item .details .main button {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  padding: 0;
  transition: all 0.2s linear;
}
.coins section .cards-of-coins .coin-item .details .main button:hover {
  text-decoration: none;
}
.coins section .cards-of-coins .coin-item .details .main button img {
  height: 20px;
  transition: all 0.2s linear;
}
.coins section .cards-of-coins .coin-item .details .total {
  font-size: 14px;
}
.coins section .cards-of-coins .coin-item .details .total ul {
  padding: 0;
}
.coins section .cards-of-coins .coin-item .details .total ul li {
  display: flex;
}
.coins section .cards-of-coins .coin-item .details .total ul li .tablecontent {
  margin-left: auto;
}
.coins section .cards-of-coins .coin-item .details .total ul a {
  color: #1fc7d4;
  margin-left: auto;
}
.coins section .cards-of-coins .coin-item .details .total div {
  margin-top: 4px;
  display: flex;
}
.coins section .cards-of-coins .coin-item .details .total div .manual {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #7645d9;
  height: 28px;
  display: flex;
  align-items: center;
  color: #7645d9;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .cards-of-coins .coin-item .details .total div .manual svg {
  fill: #7645d9;
}
.coins section .cards-of-coins .coin-item .details .total div .auto {
  padding: 0 8px;
  border-radius: 14px;
  border: 2px solid #31d0aa;
  height: 28px;
  display: flex;
  align-items: center;
  color: #31d0aa;
  background-color: var(--bg-color-primary);
  gap: 4px;
}
.coins section .cards-of-coins .coin-item .details .total div .auto svg {
  fill: #31d0aa;
}
.coins section .image {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.coins section .image .bunnies {
  width: 192px;
}

@media screen and (min-width: 576px) {
  .coins section .list-of-coins li .main {
    padding: 24px 32px;
  }
  .coins section .list-of-coins li .main .coin {
    flex: 1 0 110px;
  }
  .coins section .list-of-coins li .main .earned {
    flex: 1 0 104px;
  }
  .coins section .list-of-coins li .main .apr {
    flex: 2 0 84px;
  }
  .coins section .list-of-coins li .main button.shown::before {
    content: "Hide";
  }
  .coins section .list-of-coins li .main button::before {
    content: "Details";
  }
  .coins section .list-of-coins li .details .boxes {
    flex-direction: row;
  }
  .coins section .list-of-coins li .details .boxes .earned,
.coins section .list-of-coins li .details .boxes .start {
    flex: 1;
  }
  .coins section .list-of-coins li .details .total ul a {
    margin-left: 0;
  }
  .coins section .cards-of-coins .coin-item {
    width: 348px;
  }
}
@media screen and (min-width: 852px) {
  .coins section .filters {
    flex-direction: row;
    justify-content: space-between;
  }
  .coins section .list-of-coins li .main .staked {
    display: block;
    flex: 2 0 84px;
  }
  .coins section .list-of-coins li .main button {
    flex: 0 0 80px;
  }
}
@media screen and (min-width: 968px) {
  .coins section .list-of-coins li .main .apr {
    flex: 1 0 104px;
  }
  .coins section .list-of-coins li .main .ends-in {
    display: block;
    flex: 2 0 84px;
  }
  .coins section .list-of-coins li .details {
    flex-direction: row;
    align-items: center;
  }
  .coins section .list-of-coins li .details .boxes {
    height: fit-content;
    flex: 2;
    order: 1;
  }
  .coins section .list-of-coins li .details .total {
    flex: 1;
  }
}
.calculator {
  height: 0;
  position: sticky;
  top: 0;
  z-index: 5;
}
.calculator .bg-transparent {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: var(--text-color-secondary);
  z-index: 7;
  opacity: 0.5;
}
.calculator section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}
.calculator section .roi-calculator {
  z-index: 7;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background-color: var(--bg-color-secondary);
}
.calculator section .roi-calculator .head {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}
.calculator section .roi-calculator .head #exit-calc {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.calculator section .roi-calculator .head #exit-calc:hover {
  transform: scale(1.2);
}
.calculator section .roi-calculator .head #exit-calc svg {
  color: #1fc7d4;
}
.calculator section .roi-calculator .main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calculator section .roi-calculator .main h5 {
  color: #7645d9;
  font-size: 12px;
}
.calculator section .roi-calculator .main .staked .field {
  border-radius: 16px;
  background-color: var(--bg-color-primary-transparent);
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  align-items: center;
}
.calculator section .roi-calculator .main .staked .field input[type=number]::-webkit-inner-spin-button,
.calculator section .roi-calculator .main .staked .field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator section .roi-calculator .main .staked .field input[type=number] {
  -moz-appearance: textfield;
}
.calculator section .roi-calculator .main .staked .field .input {
  text-align: end;
}
.calculator section .roi-calculator .main .staked .field .input .usd {
  display: flex;
  align-items: center;
  gap: 5px;
}
.calculator section .roi-calculator .main .staked .field .input .usd input {
  background: none;
  border: none;
  color: var(--text-color-secondary);
  font-size: 16px;
  text-align: end;
  font-family: Kanit, sans-serif;
  box-shadow: none;
  outline: 0;
}
.calculator section .roi-calculator .main .staked .field .input .cake {
  font-size: 12px;
}
.calculator section .roi-calculator .main .staked .field .btn-swap {
  display: flex;
  fill: var(--text-color-primary);
  align-items: center;
  justify-content: end;
  width: 36px;
}
.calculator section .roi-calculator .main .staked .buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.calculator section .roi-calculator .main .staked .buttons div {
  padding: 4px 16px;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  background-color: var(--bg-color-primary-transparent);
  border-radius: 10px;
  color: #1fc7d4;
}
.calculator section .roi-calculator .main .staked-for .time-line {
  position: relative;
  background-color: var(--bg-color-primary-transparent);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
}
.calculator section .roi-calculator .main .staked-for .time-line .slider {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #1fc7d4;
  border-radius: 16px;
  transform: translateX(300%);
}
.calculator section .roi-calculator .main .staked-for .time-line .buttons {
  position: relative;
  width: 100%;
  display: flex;
}
.calculator section .roi-calculator .main .staked-for .time-line .buttons div {
  flex: 1;
  text-align: center;
  height: 32px;
  line-height: 1;
  padding: 8px 0;
}
.calculator section .roi-calculator .main .compounding .checkbox {
  display: flex;
  justify-content: space-between;
}
.calculator section .roi-calculator .main .compounding .checkbox #compounding {
  width: 20px;
  border: none;
}
.calculator section .roi-calculator .main .compounding .checkbox .time-line {
  position: relative;
  background-color: var(--bg-color-primary-transparent);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  width: 90%;
}
.calculator section .roi-calculator .main .compounding .checkbox .time-line .slider {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #1fc7d4;
  border-radius: 16px;
  transform: translateX(0%);
}
.calculator section .roi-calculator .main .compounding .checkbox .time-line .buttons {
  position: relative;
  width: 100%;
  display: flex;
}
.calculator section .roi-calculator .main .compounding .checkbox .time-line .buttons div {
  flex: 1;
  text-align: center;
  height: 32px;
  line-height: 1;
  padding: 8px 0;
}
.calculator section .roi-calculator .main .rates {
  background: linear-gradient(160deg, rgba(65, 179, 255, 0.25), rgba(160, 83, 255, 0.25));
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(65, 179, 255, 0.25);
}
.calculator section .roi-calculator .main .rates h4 {
  font-size: 24px;
}
.calculator section .roi-calculator .main .rates p {
  font-size: 12px;
  color: var(--text-color-secondary);
}
.calculator section .roi-calculator .details {
  padding: 24px;
  background-color: var(--bg-color-primary-transparent);
  color: #1fc7d4;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .calculator section {
    align-items: center;
    justify-content: center;
  }
  .calculator section .roi-calculator {
    width: 378px;
    bottom: auto;
    border-radius: 32px;
  }
}
.connect-wallet {
  display: none;
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 6;
}
.connect-wallet .bg-transparent {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: var(--text-color-secondary);
  z-index: 7;
  opacity: 0.5;
}
.connect-wallet section {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
}
.connect-wallet section .box {
  width: 100%;
  max-width: 792px;
  position: absolute;
  bottom: 0;
  z-index: 8;
}
.connect-wallet section .box .buttons {
  display: flex;
  position: relative;
  padding: 0 16px;
  top: 5px;
}
.connect-wallet section .box .buttons button {
  color: #27262c;
  background-color: #b8add2;
  border-style: none;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.connect-wallet section .box .buttons button.active {
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
}
.connect-wallet section .box .container {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--bg-color-secondary);
  position: relative;
  display: none;
}
.connect-wallet section .box .container.active {
  display: block;
}
.connect-wallet section .box .container .connect {
  padding: 32px 0;
  position: relative;
  width: 100%;
}
.connect-wallet section .box .container .connect .description {
  padding: 0 48px;
}
.connect-wallet section .box .container .connect .description h2 {
  font-size: 20px;
}
.connect-wallet section .box .container .connect .description p {
  color: var(--text-color-secondary);
  font-size: 14px;
  padding: 24px 0 32px;
}
.connect-wallet section .box .container .connect .wallet-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 16px;
  gap: 10px;
}
.connect-wallet section .box .container .connect .wallet-links .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.connect-wallet section .box .container .connect .wallet-links .link:hover {
  opacity: 50%;
}
.connect-wallet section .box .container .connect .wallet-links .link img {
  height: 50px;
  width: 50px;
}
.connect-wallet section .box .container .connect .wallet-links .link p {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}
.connect-wallet section .box .container .slider {
  display: flex;
  padding: 32px 0;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: linear-gradient(139.73deg, rgba(102, 190, 248, 0.25), rgba(195, 148, 253, 0.25));
}
.connect-wallet section .box .container .slider .slide {
  max-width: 368px;
  display: none;
  text-align: center;
}
.connect-wallet section .box .container .slider .slide h2 {
  font-size: 20px;
  color: #7645d9;
}
.connect-wallet section .box .container .slider .slide img {
  width: 198px;
  max-width: 100%;
  margin: 12px 0;
}
.connect-wallet section .box .container .slider .slide p {
  font-size: 14px;
  color: var(--text-color-secondary);
}
.connect-wallet section .box .container .slider .slide.active {
  display: block;
}
.connect-wallet section .box .container .slider .slider-buttons .slider-btn {
  width: 50px;
  height: 7px;
  background-color: var(--bg-color-primary-transparent);
  border-style: none;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
.connect-wallet section .box .container .slider .slider-buttons .slider-btn#right {
  border-radius: 0 10px 10px 0;
}
.connect-wallet section .box .container .slider .slider-buttons .slider-btn.active {
  background-color: #7645d9;
}
.connect-wallet section .box .container .slider button {
  margin-top: 16px;
  font-size: 16px;
  padding: 0 24px;
  height: 48px;
  background-color: #b8add2;
  border-radius: 16px;
  color: black;
  border: none;
  cursor: pointer;
}
.connect-wallet section .box .container .slider button:hover {
  text-decoration: underline;
  opacity: 60%;
}

.nav-popup {
  display: none;
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 5;
}
.nav-popup .bg-transparent {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(87, 51, 160, 0.3);
  z-index: 6;
}
.nav-popup section {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}
.nav-popup section .flex-settings {
  z-index: 6;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-color-secondary);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 56px;
  overflow: hidden;
}
.nav-popup section .flex-settings .col-2-exit {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(91, 105, 153, 0.1);
}
.nav-popup section .flex-settings .col-2-exit #exit {
  height: 20px;
  color: #1fc7d4;
  cursor: pointer;
}
.nav-popup section .flex-settings .global {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-popup section .flex-settings .global .space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .nav-popup section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-popup section .flex-settings {
    max-width: 350px;
    padding: 0;
    position: relative;
    border-radius: 24px;
  }
}
footer {
  background-color: #27262c;
  padding: 20px 5px;
  margin-bottom: 56px;
  display: flex;
}
footer .first-child-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: baseline;
}
footer .logo-footer-mobile {
  vertical-align: baseline;
  margin-left: -12px;
}
footer .nav-footer {
  display: flex;
  order: 2;
  justify-content: space-between;
}
footer .nav-footer ul {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}
footer .nav-footer li {
  padding: 0.3em 0;
}
footer .child-nav-footer {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
}
footer .purple-color {
  color: #9a6aff;
  font-weight: 600;
  text-transform: uppercase;
}
footer .yellow-color {
  color: #ffb237;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
}
footer .icons {
  display: flex;
  order: 2;
}
footer .menu-list {
  position: relative;
}
footer .color-menu-list-icons,
footer .sc-8a800401-0 {
  fill: #b8add2;
  align-self: center;
  margin: 1em;
}
footer .twitter {
  color: #1fc7d4;
}
footer .languages {
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: 100%;
  background-color: #27262c;
  padding: 16px;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
  will-change: opacity;
  pointer-events: none;
}
footer .position {
  display: flex;
  align-items: center;
  width: fit-content;
}
footer .lang-list-footer {
  background-color: #27262c;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang-list-footer .childs-list-footer {
  margin: 5px 0;
  color: #b8add2;
  cursor: pointer;
}
footer:hover .lang-list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .color-list {
  color: grey;
}
footer .flex-bottom {
  display: flex;
}
footer .flex-lang-bottom {
  border-top: 1px solid #383241;
  border-bottom: 1px solid #383241;
  padding: 24px 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .col-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  order: -1;
  align-items: center;
  margin-left: -10px;
}
footer .cake {
  margin-left: auto;
  color: white;
  background-color: #1fc7d4;
  padding: 2px 20px;
  border-radius: 16px;
  margin-left: 1em;
}
footer .col-2 p {
  color: #b8add2;
}
footer .button-soon {
  display: flex;
  order: 2;
  flex-wrap: wrap;
  align-items: center;
}
footer .button-soon-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
footer .cBTNLV {
  align-items: center;
  fill: #27262c;
  flex-shrink: 0;
}
footer .GnBps {
  align-items: center;
  fill: #9a6aff;
  flex-shrink: 0;
  left: -170%;
  bottom: 1%;
}
footer .flex-en {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}
footer .flex-en p {
  color: #f4eeff;
}
footer .lang {
  position: relative;
  display: flex;
}
footer .lang .lang-list-footer-circle {
  background-color: #27262c;
  display: none;
  color: #f4eeff;
}
footer .lang .lang-list-footer-circle .btn-childs {
  margin: 5px 0;
  color: #fff;
  text-align: center;
}
footer .lang:hover .lang-list-footer-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 20%;
  bottom: 100%;
  transform: translate(-50%, 0px);
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang .text-secondary-lang {
  color: #fff;
  text-align: center;
}
footer .flex-eng {
  display: flex;
  width: 5%;
}
footer .lang {
  position: relative;
  display: flex;
}
footer .lang .lang-list-footer-circle-bottom {
  background-color: #27262c;
  display: none;
  color: #f4eeff;
}
footer .lang .lang-list-footer-circle-bottom .btn-childs {
  margin: 5px 0;
  color: #fff;
  text-align: center;
}
footer .lang:hover .lang-list-footer-circle-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-50%, 0px);
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang .text-secondary-lang {
  color: #fff;
  text-align: center;
  cursor: pointer;
}
footer .logo-footer-desktop {
  margin-top: -1em;
}

@media screen and (max-width: 576px) {
  .nav-footer {
    flex-direction: column;
  }
  footer .cake {
    margin-left: auto;
  }
  .logo-footer-desktop {
    display: none;
  }
  .GnBps {
    left: 100%;
  }
}
@media screen and (min-width: 576px) {
  footer {
    margin-bottom: 0;
  }
  .logo-footer-mobile {
    display: none;
  }
  .flex-lang-bottom {
    order: 3;
  }
  footer .button-soon {
    order: 1;
    flex-wrap: nowrap;
  }
  footer .col-2 {
    width: auto;
    margin-left: auto;
    order: 2;
  }
  .nav-footer,
.icons,
.flex-lang-bottom {
    width: 90%;
    margin: auto;
  }
  .icons {
    padding-left: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
