@use "../../var.scss" as var;
@use "sass:map";
@use "sass:color";

.section2Main {
  position: relative;
  background: none;
  .background {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(118, 69, 217, 0.25)
    );
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 3vw));
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .section2MainCntrol {
    padding-bottom: 50px;

    * {
      z-index: 1;
    }

    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      padding: 24px;

      .section2TopMainImg {
        width: 48px;
        height: 48px;
      }
    }
    .section2BlockFlex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 10px;

      .section2Blocks {
        position: relative;
        width: 280px;
        height: 170px;
        box-shadow: 0.2px 3.1px #7645d923;
        background-color: var(--bg-color-secondary);
        border-radius: var.$border-radius;
        padding: 24px;

        .section2Box1Img {
          width: 36px;
          height: 36px;
          position: absolute;
          top: 24px;
          right: 24px;
        }
        p {
          margin-top: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "md")) {
  .section2Main {
    .section2MainCntrol {
      padding-bottom: 100px;

      .section2BlockFlex {
        max-width: 100%;
        justify-content: center;
        flex-direction: row;
        gap: 15px;

        .section2Blocks {
          margin: 0;
          width: 280px;
          max-width: 32%;
          height: 280px;
          padding: 24px;

          h3 {
            margin-top: 110px;
          }
        }
      }
    }
  }
}
