@use "../../var.scss" as var;
@use "sass:map";
@use "sass:color";

@keyframes img-1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(3px, 15px);
  }
}
@keyframes img-2 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(5px, 10px);
  }
}
@keyframes img-3 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(6px, 5px);
  }
}
@keyframes img-4 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(4px, 12px);
  }
}

.section-5 {
  background: linear-gradient(180deg, #6fb6f1 0%, #eaf2f6 100%);
  overflow: hidden;
  padding: 80px 24px;
  position: relative;

  .img-left {
    position: absolute;
    width: 200px;
    bottom: -50px;
    left: 0;
    div {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: -5px;
        &.img-left-1 {
          animation: img-1 3s ease-in-out 1.5s infinite alternate;
        }
        &.img-left-2 {
          animation: img-2 3s ease-in-out 1s infinite alternate;
        }
        &.img-left-3 {
          animation: img-3 3s ease-in-out 0.5s infinite alternate;
        }
        &.img-left-4 {
          animation: img-4 3s ease-in-out infinite alternate;
        }
      }
    }
  }

  .img-right {
    position: absolute;
    width: 200px;
    top: -50px;
    right: 0;
    div {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        position: absolute;
        top: 0;
        right: -5px;
        &.img-right-1 {
          animation: img-1 3s ease-in-out 1.5s infinite alternate;
        }
        &.img-right-2 {
          animation: img-2 3s ease-in-out 1s infinite alternate;
        }
        &.img-right-3 {
          animation: img-3 3s ease-in-out 0.5s infinite alternate;
        }
        &.img-right-4 {
          animation: img-4 3s ease-in-out infinite alternate;
        }
      }
    }
  }

  .child-section-5 {
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid #e7e3eb;
    border-radius: 72px;
    padding: 16px;
    backdrop-filter: blur(12px);
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    gap: 24px;
    flex-direction: column;

    .flex-childs {
      padding-top: 16px;
      display: flex;
      gap: 32px;
      flex-direction: column;
      max-width: 100%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

      .card {
        box-shadow: #ffb237 0px -4px 0px 0px inset;
        background: linear-gradient(#ffb237 0%, #ffe76a 100%);
        border: 1px solid #ffb237;
        border-radius: var.$border-radius;
        width: 275px;
        max-width: 100%;
        padding: 24px;
        .svg {
          display: flex;
          justify-content: flex-end;
        }
        .text {
          display: flex;
          flex-direction: column;
          text-align: start;
          line-height: 1.5;
          gap: 24px;

          button {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            fill: #fff;
          }
        }
      }
      .card-blue {
        background: linear-gradient(#7645d9 0%, #5121b1 100%);
        box-shadow: #3c1786 0px -4px 0px 0px inset;
        border: 1px solid #3c1786;
        fill: #fff;
        .text-primary {
          color: #fff;
        }
        .fs-lg {
          color: #ffb237;
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "md")) {
  .section-5 {
    .img-left,
    .img-right {
      width: 512px;
    }
    .child-section-5 {
      padding: 40px;

      .flex-childs {
        flex-direction: row;
        gap: 24px;
        .card {
          width: 300px;
          transform: rotate(-1.43deg);
        }
        .card-blue {
          transform: rotate(1.43deg);
        }
      }
    }
  }
}
