@use "../../var.scss" as var;
@use "sass:map";
@use "sass:color";

@keyframes bunnyFly {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes starBlink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.section-1 {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(79, 81, 206, 0.2),
    rgba(118, 69, 217, 0.2)
  );
  .bg-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: -3px;
    .bg-svg {
      display: var(--light-display);
    }
    .bg-svg-dark {
      display: var(--dark-display);
    }
  }
  * {
    z-index: 2;
  }
  .topBox {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: calc(100% - 20px);
    max-height: 192px;
    background: linear-gradient(
      180deg,
      var.$color-primary 0%,
      color.adjust(var.$color-primary, $red: -50, $green: -120, $blue: -120)
        100%
    );
    border-radius: 30px;
    padding: 15px 30px;
    overflow: hidden;

    .topBoxFlex {
      position: relative;
      article {
        position: relative;
        z-index: 1;
        .topBoxContent1 {
          color: whitesmoke;
          font-size: 20px;
          text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
        }

        .topBoxContent2 {
          color: rgb(193, 210, 4);
          font-size: 30px;
          background-color: rgba(0, 0, 0, 0.221);
          max-width: 170px;
          padding: 3px 10px;
          border-radius: 10px;
          margin: 10px 0px 20px 0px;
          box-shadow: 3px 3px 5px #28007e;
        }
      }
      picture {
        position: absolute;
        bottom: -20;
        right: -30;

        #topBoxlotteryImgDex {
          height: 190px;
        }
      }
    }

    .topBoxButtonsSwitchs {
      display: flex;
      justify-content: center;
      padding-top: 0px;

      #topBoxButtonsSwitch1 {
        height: 11px;
        width: 50px;
        border-style: none;
        background-color: whitesmoke;
        border-radius: 5px 0px 0px 5px;
        z-index: 100;
      }

      #topBoxButtonsSwitch2 {
        @extend #topBoxButtonsSwitch1;
        opacity: 0.3;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }
  section {
    max-width: 1200px;
    .call-for-action {
      .images {
        .relative {
          img {
            &.img-1 {
              animation: bunnyFly 3s ease-in-out 1.2s infinite alternate;
            }
            &.img-2 {
              animation: starBlink 3s ease-in-out 0.8s infinite alternate;
            }
            &.img-3 {
              animation: starBlink 3s ease-in-out infinite alternate;
            }
            &.img-4 {
              animation: starBlink 3s ease-in-out 0.4s infinite alternate;
            }
          }
        }
      }
      .description {
        h2 {
          span {
            font-size: 48px;
          }
        }
        p {
          color: var(--text-color-primary);
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "sm")) {
  .section-1 {
    .topBox {
      height: 190px;

      .topBoxFlex {
        .topBoxContent1 {
          color: whitesmoke;
          font-size: 20px;
          text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
        }

        .topBoxContent2 {
          font-size: 20px;
          max-width: 170px;
          padding: 3px 10px;
          border-radius: 10px;
          margin: 10px 0px 30px 0px;
          box-shadow: 3px 3px 5px #28007e;
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "md")) {
  .section-1 {
    margin-bottom: 100px;
    .topBox {
      height: 220px;

      .topBoxFlex {
        .topBoxContent1 {
          color: whitesmoke;
          text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
        }

        .topBoxContent2 {
          font-size: 30px;
        }
      }
    }
    section {
      .call-for-action {
        .description {
          h2 {
            span {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}
