@use "../../var.scss" as var;
@use "sass:map";
@use "sass:color";

.section-3 {
  section {
    display: flex;
    flex-direction: column;

    .sec3TopImses {
      position: relative;
      margin-left: auto;
      height: 210px;
      width: 210px;

      #sec3TopImgEthurmin {
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        animation: sec3TopImgEthurmin ease-in-out 2s infinite alternate;
        animation-delay: 1s;
      }
      #sec3TopImgBitcoin {
        @extend #sec3TopImgEthurmin;
        animation: sec3TopImgBitcoin ease-in-out 2s infinite alternate;
        animation-delay: 0.5s;
      }
      #sec3TopImgCake {
        @extend #sec3TopImgEthurmin;
        animation: sec3TopImgCake ease-in-out 2s infinite alternate;
      }
    }

    article {
      h2 {
        margin-bottom: 24px;
        line-height: 1.1;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "md")) {
  .section-3 {
    section {
      flex-direction: row;
      align-items: center;
      gap: 40px;

      .sec3TopImses {
        order: 1;
        width: 50%;
        height: 400px;

        #sec3TopImgEthurmin {
          width: 400px;
        }
      }
    }
  }
}
