@use "../../var.scss" as var;
@use "sass:map";
@use "sass:color";

.passive-income {
  position: relative;
  background: none;

  .background {
    background: linear-gradient(90deg, #f2ecf2 0%, #e9f1f6 100%);
    clip-path: polygon(0% 3vw, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  section {
    * {
      z-index: 1;
    }

    .flex-bottom {
      padding: 0 24px;
      width: 100%;

      .tittle {
        display: flex;
        margin-bottom: 15px;
        gap: 10px;

        .svg {
          fill: #7a6eaa;
          display: flex;
          align-items: center;
        }
      }

      .stakes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;

        .title-primary {
          margin-bottom: 5px;
        }
        .grey {
          color: grey;
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "sm")) {
  .passive-income {
    section {
      .flex-bottom {
        .stakes {
          grid-template-columns: repeat(5, auto);
          gap: 10px;
          .border-left {
            padding-left: 20px;
            border-left: 1px #d7caec solid;
          }
        }
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "md")) {
  .passive-income {
    section {
      .call-for-action {
        .description {
          order: 0;
        }
      }
    }
  }
}
