@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html,
body {
  background-color: white;
  font-family: Kanit, sans-serif;
  width: 100vw;
  max-width: 100%;
}

body > div {
  width: 100%;
}

section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}

.btn, .btn-secondary, .btn-outline, .btn-primary, .btn-small {
  height: 48px;
  padding: 0 24px;
  border: 0;
  border-radius: 16px;
  background: none;
  cursor: pointer;
  font-family: Kanit;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s linear;
}
.btn:hover, .btn-secondary:hover, .btn-outline:hover, .btn-primary:hover, .btn-small:hover {
  opacity: 60%;
}
.btn-primary, .btn-small {
  color: white;
  background-color: #1fc7d4;
  box-shadow: 0 1px #12737b;
}
.btn-small {
  height: 32px;
  padding: 0 16px;
}
.btn-outline {
  color: #1fc7d4;
  border: 2px solid #1fc7d4;
}
.btn-secondary {
  padding: 0 10px;
  color: #1fc7d4;
}
.btn-secondary:hover {
  opacity: 100%;
  text-decoration-line: underline;
}

.text, .text-secondary, .text-primary {
  font-size: 16px;
  font-family: Kanit, sans-serif;
  color: #280d5f;
}
.text-primary {
  color: #280d5f;
}
.text-secondary {
  color: #7a6eaa;
}

.title, .title-tertiary, .title-secondary, .title-primary {
  font-size: 40px;
  font-family: Kanit, sans-serif;
  color: #280d5f;
}
.title-primary {
  color: #7645d9;
}
.title-secondary {
  color: #1fc7d4;
}
.title-tertiary {
  color: #ed4b9e;
}

.fs-xs {
  font-size: 12px;
}
.fs-sm {
  font-size: 16px;
}
.fs-md {
  font-size: 20px;
}
.fs-lg {
  font-size: 24px;
}
.fs-xl {
  font-size: 40px;
}
.fs-xxl {
  font-size: 64px;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

@keyframes blink {
  3%, 100% {
    opacity: 0;
  }
  5%, 100% {
    opacity: 1;
  }
}
.footbar {
  z-index: 10;
  position: sticky;
  width: 100%;
  height: 0;
  top: calc(100% - 56px);
}
.footbar nav {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.footbar nav .nav-left {
  width: 100%;
}
.footbar nav .nav-left ul.footbar-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footbar nav .nav-left ul.footbar-buttons > li {
  height: 48px;
  width: 48px;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius img {
  height: 20px;
  width: 20px;
}
.footbar nav .nav-left ul.footbar-buttons > li .radius p {
  font-size: 10px;
}
.footbar nav .nav-left ul.footbar-buttons > li .menu-sub {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 48px;
}

nav {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 56px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  display: flex;
  background-color: #fff;
}
nav .logo {
  cursor: pointer;
}
nav .logo:hover .eye {
  animation: blink 4s;
}
nav .logo .mobile {
  width: 32px;
  margin: auto 0;
}
nav .logo .desktop {
  display: none;
  margin: auto 0;
}
nav .nav-left {
  margin: auto 0;
}
nav .nav-left .left-nav {
  display: none;
  box-shadow: none;
}
nav .nav-left .flex-menu-sub:hover {
  background-color: #f6f6f6;
}
nav .nav-left .child-flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
nav .nav-left .svg-color {
  text-align: center;
  fill: #280d5f;
}
nav .nav-left .container-first-child {
  display: flex;
  align-items: center;
}
nav .nav-left .menu-sub {
  position: absolute;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #e7e3eb;
  width: 80%;
  display: none;
}
nav .nav-left .radius {
  height: 48px;
  margin-top: 4px;
  padding: 12px 16px;
}
nav .nav-left .radius:hover {
  background-color: #f6f6f6;
  border-radius: 15px;
}
nav .nav-left .border {
  border-top: 3px solid #e7e3eb;
  border-bottom: 3px solid #e7e3eb;
}
nav .nav-left .flex-menu-sub:hover {
  background-color: #f6f6f6;
}
nav .nav-left .child-flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
nav .nav-left .svg-color {
  text-align: center;
  fill: #280d5f;
}
nav .nav-left .container-first-child {
  display: flex;
  align-items: center;
}
nav .nav-left .menu-sub {
  position: absolute;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #e7e3eb;
  width: 80%;
  display: none;
  overflow: hidden;
}
nav .nav-left .menu-sub ul {
  display: block;
}
nav .nav-left .radius:hover {
  background-color: #f6f6f6;
  border-radius: 15px;
}
nav .nav-left .border {
  border-top: 3px solid #e7e3eb;
  border-bottom: 3px solid #e7e3eb;
}
nav .nav-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
}
nav .nav-left ul a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: #7a6eaa;
}
nav .nav-left li:hover .menu-sub {
  display: block;
  background-color: #fff;
}
nav .nav-left .menu-sub li {
  display: block;
}
nav .nav-left a:hover {
  background-color: #f6f6f6;
  width: 100%;
}
nav .nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
nav .nav-right .btn {
  height: 24px;
  padding: 0;
  margin: 10px;
}
nav .nav-right .pancake-coin {
  display: none;
}
nav .nav-right .lang {
  position: relative;
}
nav .nav-right .lang .lang-list {
  background-color: #fff;
  display: none;
  position: absolute;
  right: -75px;
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
nav .nav-right .lang .lang-list .btn {
  margin: 5px 0;
  color: #280d5f;
}
nav .nav-right .lang:hover .lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .footbar {
    display: none;
  }
  nav .nav-left .left-nav {
    display: block;
  }
  nav .nav-left .menu-sub-second {
    display: none;
  }
}
@media screen and (min-width: 852px) {
  nav .nav-right .pancake-coin {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav .nav-right .pancake-coin img {
    transition: 0.2s linear;
  }
  nav .nav-right .pancake-coin:hover {
    opacity: 100;
  }
  nav .nav-right .pancake-coin:hover img {
    transform: scale(1.2);
  }
  nav .nav-right button::after {
    content: " Wallet";
  }
}
@media screen and (min-width: 968px) {
  nav .logo .mobile {
    display: none;
  }
  nav .logo .desktop {
    display: block;
  }
}

footer {
  background-color: #27262c;
  padding: 20px 5px;
  margin-bottom: 44px;
  display: flex;
}
footer .first-child-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: baseline;
}
footer .logo-footer-mobile {
  vertical-align: baseline;
  margin-left: -12px;
}
footer .nav-footer {
  display: flex;
  order: 2;
  justify-content: space-between;
}
footer .nav-footer ul {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}
footer .nav-footer li {
  padding: 0.3em 0;
}
footer .child-nav-footer {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
}
footer .purple-color {
  color: #9a6aff;
  font-weight: 600;
  text-transform: uppercase;
}
footer .yellow-color {
  color: #ffb237;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
}
footer .icons {
  display: flex;
  order: 2;
  margin: -10px;
}
footer .menu-list {
  position: relative;
}
footer .color-menu-list-icons,
footer .sc-8a800401-0 {
  fill: #b8add2;
  align-self: center;
  margin: 1em;
}
footer .twitter {
  color: #1fc7d4;
}
footer .languages {
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: 100%;
  background-color: #27262c;
  padding: 16px;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
  will-change: opacity;
  pointer-events: none;
}
footer .position {
  display: flex;
  align-items: center;
  width: fit-content;
}
footer .lang-list-footer {
  background-color: #27262c;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang-list-footer .childs-list-footer {
  margin: 5px 0;
  color: #b8add2;
  cursor: pointer;
}
footer:hover .lang-list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .color-list {
  color: grey;
}
footer .flex-bottom {
  display: flex;
}
footer .flex-lang-bottom {
  border-top: 1px solid #383241;
  border-bottom: 1px solid #383241;
  padding: 24px 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .col-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  order: -1;
  align-items: center;
  margin-left: -10px;
}
footer .cake {
  margin-left: auto;
  color: white;
  background-color: #1fc7d4;
  padding: 2px 20px;
  border-radius: 16px;
  margin-left: 1em;
}
footer .col-2 p {
  color: #b8add2;
}
footer .button-soon {
  display: flex;
  order: 2;
  flex-wrap: wrap;
  align-items: center;
}
footer .button-soon-2 {
  align-items: center;
  background-color: #666171;
  border-radius: 24px;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}
footer .jjLaGf {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}
footer .button-soon-3 {
  background-color: #27262c;
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: left 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}
footer .button-soon-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
footer .ihnDIg {
  fill: #ffb237;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  left: 25px;
}
footer .button-soon-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
footer .cBTNLV {
  align-items: center;
  fill: #27262c;
  flex-shrink: 0;
}
footer .GnBps {
  align-items: center;
  fill: #9a6aff;
  flex-shrink: 0;
  left: -170%;
  bottom: 1%;
}
footer .flex-en {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}
footer .flex-en p {
  color: #f4eeff;
}
footer .lang {
  position: relative;
  display: flex;
}
footer .lang .lang-list-footer-circle {
  background-color: #27262c;
  display: none;
  color: #f4eeff;
}
footer .lang .lang-list-footer-circle .btn-childs {
  margin: 5px 0;
  color: #fff;
  text-align: center;
}
footer .lang:hover .lang-list-footer-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 20%;
  bottom: 100%;
  transform: translate(-50%, 0px);
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang .text-secondary-lang {
  color: #fff;
  text-align: center;
}
footer .flex-eng {
  display: flex;
  width: 5%;
}
footer .lang {
  position: relative;
  display: flex;
}
footer .lang .lang-list-footer-circle-bottom {
  background-color: #27262c;
  display: none;
  color: #f4eeff;
}
footer .lang .lang-list-footer-circle-bottom .btn-childs {
  margin: 5px 0;
  color: #fff;
  text-align: center;
}
footer .lang:hover .lang-list-footer-circle-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-50%, 0px);
  width: 200px;
  height: 400px;
  padding: 16px;
  overflow-y: scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
footer .lang .text-secondary-lang {
  color: #fff;
  text-align: center;
  cursor: pointer;
}
footer .logo-footer-desktop {
  margin-top: -1em;
}

@media screen and (max-width: 576px) {
  .nav-footer {
    flex-direction: column;
  }
  footer .cake {
    margin-left: auto;
  }
  .logo-footer-desktop {
    display: none;
  }
  .GnBps {
    left: 100%;
  }
}
@media screen and (min-width: 576px) {
  .logo-footer-mobile {
    display: none;
  }
  .flex-lang-bottom {
    order: 3;
  }
  footer .button-soon {
    order: 1;
    flex-wrap: nowrap;
  }
  footer .col-2 {
    width: auto;
    margin-left: auto;
    order: 2;
  }
  .nav-footer,
.icons,
.flex-lang-bottom {
    width: 90%;
    margin: auto;
  }
  .icons {
    padding-left: 70px;
=======
.section-1 .sec1SecondSec {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: 0px auto 100px;
  padding: 16px 24px;
}
.section-1 .sec1SecondSec .secondFlex1 {
  max-width: 600px;
  order: 1;
  margin: 0 auto;
}
.section-1 .sec1SecondSec .secondFlex1 .firstSecBottomTopText {
  font-size: 48px;
  font-weight: 600;
  line-height: 40px;
  color: rgba(80, 15, 219, 0.862745098);
  margin-bottom: 24px;
}
.section-1 .sec1SecondSec .secondFlex1 .firstSecBottomBottomText2 {
  font-size: 20px;
  line-height: 23px;
  color: #280d5f;
  font-weight: 600;
  margin-bottom: 24px;
}
.section-1 .sec1SecondSec .thirdFlex1 #imgHomePageSection1 {
  height: 200px;
  width: 200px;
  float: right;
  animation: imgHomePageSection 5s infinite;
  position: relative;
}
@keyframes imgHomePageSection {
  0% {
    top: -50px;
    right: 25px;
  }
  25% {
    top: -30px;
    right: 30px;
  }
  50% {
    top: -25px;
    right: 25px;
  }
  75% {
    top: -30px;
    right: 25px;
  }
  100% {
    top: -50px;
    right: 25px;
  }
}
.section-1 .topBox {
  z-index: 1;
  margin: 50px auto;
  max-width: 95%;
  max-height: 192px;
  background: linear-gradient(180deg, #7645d9 0%, #440061 100%);
  border-radius: 30px;
  padding: 15px 30px;
  overflow: hidden;
}
.section-1 .topBox .topBoxFlex {
  position: relative;
}
.section-1 .topBox .topBoxFlex article {
  z-index: 3;
}
.section-1 .topBox .topBoxFlex article .topBoxContent1 {
  color: whitesmoke;
  font-size: 20px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
}
.section-1 .topBox .topBoxFlex article .topBoxContent2 {
  color: rgb(193, 210, 4);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.221);
  max-width: 170px;
  padding: 3px 10px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  box-shadow: 3px 3px 5px #28007e;
}
.section-1 .topBox .topBoxFlex picture {
  z-index: 2;
  position: absolute;
  bottom: -20;
  right: -30;
}
.section-1 .topBox .topBoxFlex picture #topBoxlotteryImgDex {
  height: 190px;
}
.section-1 .topBox .topBoxButtonsSwitchs {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}
.section-1 .topBox .topBoxButtonsSwitchs #topBoxButtonsSwitch1, .section-1 .topBox .topBoxButtonsSwitchs #topBoxButtonsSwitch2 {
  height: 11px;
  width: 50px;
  border-style: none;
  background-color: whitesmoke;
  border-radius: 5px 0px 0px 5px;
  z-index: 100;
}
.section-1 .topBox .topBoxButtonsSwitchs #topBoxButtonsSwitch2 {
  opacity: 0.3;
  border-radius: 0px 5px 5px 0px;
}

@media screen and (min-width: 576px) {
  .section-1 .sec1SecondSec {
    max-width: 920px;
    padding: 32px 24px;
  }
  .section-1 .sec1SecondSec .secondFlex1 {
    max-width: 100%;
  }
  .section-1 .topBox {
    height: 190px;
  }
  .section-1 .topBox .topBoxFlex .topBoxContent1 {
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
  }
  .section-1 .topBox .topBoxFlex .topBoxContent2 {
    font-size: 20px;
    max-width: 170px;
    padding: 3px 10px;
    border-radius: 10px;
    margin: 10px 0px 30px 0px;
    box-shadow: 3px 3px 5px #28007e;
  }
}
@media screen and (min-width: 852px) {
  .section-1 .sec1SecondSec {
    flex-direction: row;
    max-width: 920px;
    padding: 16px 24px;
  }
  .section-1 .sec1SecondSec .secondFlex1 {
    order: 1;
    align-self: center;
  }
  .section-1 .sec1SecondSec .secondFlex1 .firstSecBottomTopText {
    font-size: 48px;
    font-weight: 600;
  }
  .section-1 .sec1SecondSec .thirdFlex1 {
    order: 2;
  }
  .section-1 .sec1SecondSec .thirdFlex1 #imgHomePageSection1 {
    height: 400px;
    width: 400px;
  }
  .section-1 .topBox {
    height: 220px;
  }
  .section-1 .topBox .topBoxFlex .topBoxContent1 {
    color: whitesmoke;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.708);
  }
  .section-1 .topBox .topBoxFlex .topBoxContent2 {
    font-size: 30px;
  }
}
.section2Main .section2MainCntrol {
  background-image: linear-gradient(180deg, white, rgba(118, 69, 217, 0.2078431373));
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 3vw));
  padding-bottom: 100px;
}
.section2Main .section2MainCntrol .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2Main .section2MainCntrol .section2 .section2TopMainImg {
  height: 45px;
  width: 40px;
  margin: 0 auto;
}
.section2Main .section2MainCntrol .section2 .section2Header1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
}
.section2Main .section2MainCntrol .section2 .section2TopTexts {
  font-size: 16px;
  color: #7a6eaa;
  padding: 0 5px;
  text-align: center;
}
.section2Main .section2MainCntrol .section2 .section2TopBlockText {
  margin: 20 auto 30px;
  font-size: 16px;
  font-weight: 600;
  color: #7a6eaa;
}
.section2Main .section2MainCntrol .section2BlockFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 170px;
  border-style: none;
  box-shadow: 0.2px 3.1px rgba(118, 69, 217, 0.137254902);
  z-index: 10;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2Box1Img {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 25px;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockTexts {
  font-size: 30px;
  font-weight: 600;
  color: #280d5f;
  margin-bottom: -15px;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockText1 {
  font-size: 30px;
  font-weight: 600;
  color: #7645d9;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockText2 {
  font-size: 30px;
  font-weight: 600;
  color: #1fc7d4;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockText3 {
  font-size: 30px;
  font-weight: 600;
  color: #ed4b9e;
}
.section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockTextB {
  font-size: 17px;
  color: #7a6eaa;
  margin-top: 15px;
}

@media screen and (min-width: 852px) {
  .section2Main .section2MainCntrol .section2BlockFlex {
    flex-direction: row;
    gap: 15px;
  }
  .section2Main .section2MainCntrol .section2BlockFlex .section2Blocks {
    margin: 0;
    width: 280px;
    height: 280px;
    padding: 24px;
  }
  .section2Main .section2MainCntrol .section2BlockFlex .section2Blocks .section2BlockTexts {
    margin-top: 110px;
  }
}
.section-3 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px;
  max-width: 920px;
  margin: 0px auto;
}
.section-3 .sec3TopImses {
  position: relative;
  margin-right: calc(100px - 10vw);
  width: 192px;
  height: 192px;
}
.section-3 .sec3TopImses #sec3TopImgEthurmin, .section-3 .sec3TopImses #sec3TopImgCake, .section-3 .sec3TopImses #sec3TopImgBitcoin {
  position: absolute;
  top: 0;
  right: -50;
  width: 192px;
  height: 192px;
  animation: sec3TopImgEthurmin 2s infinite;
}
.section-3 .sec3TopImses #sec3TopImgBitcoin {
  animation: sec3TopImgBitcoin 3s infinite;
}
.section-3 .sec3TopImses #sec3TopImgCake {
  animation: sec3TopImgCake 4s infinite;
}
@keyframes sec3TopImgEthurmin {
  0% {
    top: 2px;
    right: 2px;
  }
  25% {
    top: 6px;
    right: 4px;
  }
  50% {
    top: 8px;
    right: 6px;
  }
  75% {
    top: 6px;
    right: 4px;
  }
  100% {
    top: 2px;
    right: 2px;
  }
}
@keyframes sec3TopImgBitcoin {
  0% {
    top: 2px;
    right: 2px;
  }
  25% {
    top: 4px;
    right: 4px;
  }
  50% {
    top: 6px;
    right: 6px;
  }
  75% {
    top: 4px;
    right: 4px;
  }
  100% {
    top: 2px;
    right: 2px;
  }
}
@keyframes sec3TopImgCake {
  0% {
    top: 2px;
    right: 2px;
  }
  25% {
    top: 4px;
    right: 4px;
  }
  50% {
    top: 6px;
    right: 6px;
  }
  75% {
    top: 4px;
    right: 4px;
  }
  100% {
    top: 2px;
    right: 2px;
  }
}
.section-3 section {
  padding-left: 10px;
}
.section-3 section .sec3TopText1 {
  font-size: 32px;
  color: #280d5f;
  margin: 0 0 24px;
  font-weight: 600;
  line-height: 30px;
}
.section-3 section .sec3TopText1 #sec3TopText1Init {
  color: #7645d9;
}
.section-3 section .sec3TopText2 {
  font-size: 16px;
  margin: 0px 0px 24px;
  color: #7a6eaa;
}

@media screen and (min-width: 852px) {
  .section-3 {
    flex-direction: row;
    margin: 0px auto;
  }
  .section-3 .sec3TopImses {
    order: 2;
    margin-right: 2rem;
    width: 378px;
    height: 378px;
  }
  .section-3 .sec3TopImses #sec3TopImgEthurmin, .section-3 .sec3TopImses #sec3TopImgBitcoin, .section-3 .sec3TopImses #sec3TopImgCake {
    width: 378px;
    height: 378px;
    animation: sec3TopImgEthurmin 2s infinite;
  }
  .section-3 .sec3TopImses #sec3TopImgBitcoin {
    animation: sec3TopImgBitcoin 3s infinite;
  }
  .section-3 .sec3TopImses #sec3TopImgCake {
    animation: sec3TopImgCake 4s infinite;
  }
  .section-3 section {
    max-width: 378px;
    order: 1;
    align-self: center;
    padding-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
