@use "../var.scss" as var;
@use "sass:color";
.btn {
  height: 48px;
  padding: 0 24px;
  border: 0;
  border-radius: 16px;
  background: none;
  cursor: pointer;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s linear;
  line-height: 1.1;

  &:hover {
    opacity: 60%;
  }

  &-primary {
    @extend .btn;
    color: white;
    background-color: var.$color-secondary;
    box-shadow: 0 1px color.adjust(var.$color-secondary, $lightness: -20%);
  }
  &-small {
    @extend .btn-primary;
    height: 32px;
    padding: 0 16px;
  }
  &-outline {
    @extend .btn;
    color: var.$color-secondary;
    border: 2px solid var.$color-secondary;
  }
  &-secondary {
    @extend .btn;
    padding: 0 10px;
    color: var.$color-secondary;
    &:hover {
      opacity: 100%;
      text-decoration-line: underline;
    }
  }
}
.toogler {
  position: relative;
  padding: 3px 29px 3px 3px;
  border-radius: 16px;
  background-color: rgba(102, 97, 113, 0.5);
  cursor: pointer;
  border: none;

  &:hover {
    padding: 0 26px 0 0;
    .toogler-circle {
      box-sizing: content-box;
      border: 3px solid #7645d9;
    }
  }

  .toogler-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-color-secondary);
    transition: transform 0.2s linear;
  }
  .label-svg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 3px 6px;

    .sun {
      fill: var(--sun-color);
      transition: all 0.2s linear;
    }
    .moon {
      fill: var(--moon-color);
      transition: all 0.2s linear;
    }
  }
}
