@use "../var.scss" as var;
@use "sass:map";

.text {
  font-size: map.get(var.$sizes, "sm");
  font-family: Kanit, sans-serif;
  font-weight: map.get(var.$weights, "400");
  color: var.$text-color-primary;

  @each $name, $color in var.$text-colors {
    &-#{$name} {
      @extend .text;
      color: $color;
    }
  }
}

.title {
  font-size: map.get(var.$sizes, "xl");
  font-family: Kanit, sans-serif;
  font-weight: map.get(var.$weights, "600");
  color: var.$text-color-primary;
  line-height: 1.1;

  @each $name, $color in var.$colors {
    &-#{$name} {
      @extend .title;
      color: $color;
    }
  }
}

.f {
  &s {
    @each $name, $size in var.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }
  &w {
    @each $name, $weight in var.$weights {
      &-#{$name} {
        font-weight: $weight;
      }
    }
  }
}

@media screen and (min-width: map.get(var.$screen, "lg")) {
  .f {
    &s {
      @each $name, $size in var.$sizes {
        &-lg {
          font-size: 40px;
        }
        &-xxl {
          font-size: 64px;
        }
      }
    }
  }
}
