@use "../var.scss" as var;
@use "sass:map";
@use "sass:color";

.connect-wallet {
  display: none;
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 6;
  .bg-transparent {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: var(--text-color-secondary);
    z-index: 7;
    opacity: 0.5;
  }
  section {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;

    .box {
      width: 100%;
      max-width: 792px;
      position: absolute;
      bottom: 0;
      z-index: 8;

      .buttons {
        display: flex;
        position: relative;
        padding: 0 16px;
        top: 5px;
        button {
          color: #27262c;
          background-color: #b8add2;
          border-style: none;
          padding: 10px;
          border-radius: 16px 16px 0px 0px;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
          &.active {
            color: var(--text-color-secondary);
            background-color: var(--bg-color-secondary);
          }
        }
      }
      .container {
        width: 100%;
        border-radius: 24px;
        overflow: hidden;
        background-color: var(--bg-color-secondary);
        position: relative;
        display: none;
        &.active {
          display: block;
        }
        .connect {
          padding: 32px 0;
          position: relative;
          width: 100%;
          .description {
            padding: 0 48px;
            h2 {
              font-size: 20px;
            }
            p {
              color: var(--text-color-secondary);
              font-size: 14px;
              padding: 24px 0 32px;
            }
          }
          .wallet-links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0 16px;
            gap: 10px;
            .link {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 4px;
              cursor: pointer;
              &:hover {
                opacity: 50%;
              }
              img {
                height: 50px;
                width: 50px;
              }
              p {
                text-align: center;
                font-size: 12px;
                line-height: 1.5;
              }
            }
          }
        }

        .slider {
          display: flex;
          padding: 32px 0;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          background: linear-gradient(
            139.73deg,
            rgba(102, 190, 248, 0.25),
            rgba(195, 148, 253, 0.25)
          );

          .slide {
            max-width: 368px;
            display: none;
            text-align: center;
            h2 {
              font-size: 20px;
              color: var.$color-primary;
            }
            img {
              width: 198px;
              max-width: 100%;
              margin: 12px 0;
            }
            p {
              font-size: 14px;
              color: var(--text-color-secondary);
            }
            &.active {
              display: block;
            }
          }
          .slider-buttons {
            .slider-btn {
              width: 50px;
              height: 7px;
              background-color: var(--bg-color-primary-transparent);
              border-style: none;
              border-radius: 10px 0px 0px 10px;
              cursor: pointer;
              &#right {
                border-radius: 0 10px 10px 0;
              }
              &.active {
                background-color: var.$color-primary;
              }
            }
          }
          button {
            margin-top: 16px;
            font-size: 16px;
            padding: 0 24px;
            height: 48px;
            background-color: #b8add2;
            border-radius: 16px;
            color: black;
            border: none;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
              opacity: 60%;
            }
          }
        }
      }
    }
  }
}
