.mainContainerForPopUp {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 80;

  .allContainerForPopUp {
    margin: 0 auto;
    max-width: 800px;
    max-height: 500px;
    z-index: 90;

    #mainPopUpFortheMainPage1 {
      color: #b8add2;
      background-color: #372f47;
      border-style: none;
      padding: 10px;
      margin: -4px -5px -4px 18px;
      border-radius: 10px 10px 0px 0px;
      font-weight: 700;
      cursor: pointer;
    }
    #mainPopUpFortheMainPage2 {
      color: #372f47;
      background-color: #b8add2;
      border-style: none;
      padding: 10px;
      font-weight: 700;
      margin: -4px -5px -4px 0px;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;
    }
    .AllBoxContainerForPopUp {
      display: flex;
      display: block;

      .allcanTainerForPopUp1 {
        max-width: 500px;
        background-color: rgb(31, 21, 21);
        padding: 24px;
        border-radius: 18px;

        .allCantainerTittleFirstPopUpMain {
          margin: 0px 0px 10px 30px;
        }
        .allCantainerMainTextForPopUpMain {
          margin: 0px 30px 30px 30px;
          font-size: 13px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.555);
        }

        .allCantainerForPopUpMainOfAllappesList {
          //this is for all the apps in the box of pop Up
          margin: 0px -15px;

          .allCantainerForMainPopUpAppsLists {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .allCantainerForMainPopUpAppsListsBlocksofTheLists {
              display: flex;
              flex-direction: column;
              cursor: pointer;
              margin-bottom: 10px;
              &:hover {
                opacity: 0.5;
              }
              .allCantainerForMainPopUpAppsListsBlocksofTheListsImgsOfiT {
                height: 50px;
                width: 50px;
                margin: 0 auto;
              }
              .allCantainerForMainPopUpAppsListsTextsOfIt {
                font-size: 12px;
                margin: 0 auto;
                text-align: center;
              }
            }
          }
        }
      }

      //no need to add something for this here
      .allcanTainerForPopUp2 {
        display: none;
      }
    }

    // the second button of mainPopUp
    .AllBoxContainerForPopUp2 {
      height: 500px;
      max-width: 300px;
      background-color: rgb(59, 57, 57);
      border-radius: 20px;
      z-index:auto;


      .AllBoxContainerForPopUp2FirstSlide {
        display: flex;
        flex-direction: column;
        padding: 34px;
        justify-content: center;

        .AllBoxContainerForPopUp2FirstSlideFirsText {
          text-align: center;
          color: #9a6aff;
          font-weight: 600;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        .AllBoxContainerForPopUp2FirstSlideImgWalletIntro {
          height: 150px;
          width: 150px;
          margin: 0 auto;
        }
        .AllBoxContainerForPopUp2FirstSlideSecondText {
          font-size: 12px;
          text-align: center;
          font-weight: 200;
          opacity: 0.9;
          margin-bottom: 30px;
        }
        .AllBoxContainerForPopUp2FirstSlideButtonsCanger {
          margin: 0 auto;
          margin-bottom: 30px;

          #buttonsPopUpMain1 {
            width: 50px;
            height: 7px;
            background-color: #9a6aff;
            border-style: none;
            border-radius: 10px 0px 0px 10px;
            cursor: pointer;
          }
          #buttonsPopUpMain2 {
            width: 50px;
            height: 7px;
            background-color: black;
            border-style: none;
            border-radius: 0px 10px 10px 0px;
            cursor: pointer;

          }
        }
        .secondSildeOfPopUpLastbuton{
          margin: 20px auto;
          font-size: 16px;
          padding: 5px 10px;
          background-color:#b8add2;
          border-radius: 10px;
          color: black;
          &:hover{
            opacity: 0.6;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// TODO NEET TO FIX SOMETHING 
// @media (min-width:600px) {

//   .mainContainerForPopUp {
//   position: absolute;
//   width: 100vw;
//   display: flex;
//   align-items: center;
//   z-index: 80;

//   .allContainerForPopUp {
//     margin: 0 auto;
//     max-width: 800px;
//     max-height: 500px;
//     z-index: 90;

//     #mainPopUpFortheMainPage1 {
//       color: #b8add2;
//       background-color: #372f47;
//       border-style: none;
//       padding: 10px;
//       margin: -4px -5px -4px 18px;
//       border-radius: 10px 10px 0px 0px;
//       font-weight: 700;
//       cursor: pointer;
//     }
//     #mainPopUpFortheMainPage2 {
//       color: #372f47;
//       background-color: #b8add2;
//       border-style: none;
//       padding: 10px;
//       font-weight: 700;
//       margin: -4px -5px -4px 0px;
//       border-radius: 10px 10px 0px 0px;
//       cursor: pointer;
//     }
//     .AllBoxContainerForPopUp {
//       display: flex;
//       display: block;
//       flex-direction: row;

//       .allcanTainerForPopUp1 {
//         max-width: 500px;
//         background-color: rgb(31, 21, 21);
//         padding: 24px;
//         border-radius: 18px;

//         .allCantainerTittleFirstPopUpMain {
//           margin: 0px 0px 10px 30px;
//         }
//         .allCantainerMainTextForPopUpMain {
//           margin: 0px 30px 30px 30px;
//           font-size: 13px;
//           font-weight: 300;
//           color: rgba(255, 255, 255, 0.555);
//         }

//         .allCantainerForPopUpMainOfAllappesList {
//           //this is for all the apps in the box of pop Up
//           margin: 0px -15px;

//           .allCantainerForMainPopUpAppsLists {
//             display: grid;
//             grid-template-columns: 1fr 1fr 1fr 1fr;

//             .allCantainerForMainPopUpAppsListsBlocksofTheLists {
//               display: flex;
//               flex-direction: column;
//               cursor: pointer;
//               margin-bottom: 10px;
//               &:hover {
//                 opacity: 0.5;
//               }
//               .allCantainerForMainPopUpAppsListsBlocksofTheListsImgsOfiT {
//                 height: 50px;
//                 width: 50px;
//                 margin: 0 auto;
//               }
//               .allCantainerForMainPopUpAppsListsTextsOfIt {
//                 font-size: 12px;
//                 margin: 0 auto;
//                 text-align: center;
//               }
//             }
//           }
//         }
//       }

//       //no need to add something for this here
//       .allcanTainerForPopUp2 {
//         display: block;
//         .allcanTainerForPopUp2Inside{
//           #walletallcanTainerForPopUp2{
//             max-width: 200px;
//           }
//         }
//       }
//     }

//     // the second button of mainPopUp
//     .AllBoxContainerForPopUp2 {
//       height: 500px;
//       max-width: 300px;
//       background-color: rgb(59, 57, 57);
//       border-radius: 20px;
//       z-index:auto;


//       .AllBoxContainerForPopUp2FirstSlide {
//         display: flex;
//         flex-direction: column;
//         padding: 34px;
//         justify-content: center;

//         .AllBoxContainerForPopUp2FirstSlideFirsText {
//           text-align: center;
//           color: #9a6aff;
//           font-weight: 600;
//           margin-top: 10px;
//           margin-bottom: 20px;
//         }
//         .AllBoxContainerForPopUp2FirstSlideImgWalletIntro {
//           height: 150px;
//           width: 150px;
//           margin: 0 auto;
//         }
//         .AllBoxContainerForPopUp2FirstSlideSecondText {
//           font-size: 12px;
//           text-align: center;
//           font-weight: 200;
//           opacity: 0.9;
//           margin-bottom: 30px;
//         }
//         .AllBoxContainerForPopUp2FirstSlideButtonsCanger {
//           margin: 0 auto;
//           margin-bottom: 30px;

//           #buttonsPopUpMain1 {
//             width: 50px;
//             height: 7px;
//             background-color: #9a6aff;
//             border-style: none;
//             border-radius: 10px 0px 0px 10px;
//             cursor: pointer;
//           }
//           #buttonsPopUpMain2 {
//             width: 50px;
//             height: 7px;
//             background-color: black;
//             border-style: none;
//             border-radius: 0px 10px 10px 0px;
//             cursor: pointer;

//           }
//         }
//         .secondSildeOfPopUpLastbuton{
//           margin: 20px auto;
//           font-size: 16px;
//           padding: 5px 10px;
//           background-color:#b8add2;
//           border-radius: 10px;
//           color: black;
//           &:hover{
//             opacity: 0.6;
//             text-decoration: underline;
//             cursor: pointer;
//           }
//         }
//       }
//     }
//   }
// }

  
// }
